<configuration>
    <appender name="ANDROID" class="ch.qos.logback.classic.android.LogcatAppender">
        <tagEncoder>
            <pattern>.%logger{12}</pattern>
        </tagEncoder>
        <encoder>
            <pattern>%msg</pattern>
        </encoder>
    </appender>

    <appender name="CRASHLYTICS" class="de.lorenzgorse.coopmobile.CrashlyticsAppender" />

    <root level="debug">
        <appender-ref ref="ANDROID" />
        <appender-ref ref="CRASHLYTICS" />
    </root>
</configuration>
